<app-menu-title></app-menu-title>    
<div class="container__articles">
    <div class="articles__main">
        <app-big-card 
            Id="1"
            photoCover="https://br.web.img3.acsta.net/r_654_368/newsv7/19/02/08/16/58/1140437.jpg"
            cardTitle="Novo homem de ferro em 3d"
            cardDescription="Marvel anuncia novo homem de ferro">
        </app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card
        Id="2"
        photoCover="https://static-assets.bamgrid.com/product/disneyplus/images/logo.1a56f51c764022ee769c91d894d44326.svg"
        cardTitle="Nova serie anunciada da Disney">
        </app-small-card>
        <app-small-card
        Id="3"
        photoCover="https://img.elo7.com.br/product/main/37EBEF7/painel-1x65cm-pantera-negra-wakanda-festa-expressa.jpg"
        cardTitle="Novo filme do pantera negra"
        ></app-small-card>
        <app-small-card
        Id="4"
        photoCover="https://static.itapemafm.com.br/s3fs-public/graphql-upload-files/x-men%20o%20filme%202000_3.jpg?RDQpCdtHwcmjVqwyrdAOjy1Kjn1e15Bz"
        cardTitle="Novo filme do xmen esta em cartaz"></app-small-card>
    </div>
</div>